services:
  backend:
    container_name: backend
    build:
      context: ./backend
    ports:
      - "8000:8000"
    volumes:
      - ./backend:/app
    depends_on:
      - db
      - migration_service
    env_file:
      - .env
    # restart: on-failure

  db:
    container_name: db
    image: postgres:18
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: root
      POSTGRES_DB: expense-tracker
    ports:
      - "5432:5432"
    volumes:
      - pgdata:/var/lib/postgresql

  migration_service:
    container_name: migration-service
    build:
      context: ./backend
    depends_on:
      - db
    env_file:
      - .env
    # restart: on-failure
    command: ["uv", "run", "alembic", "upgrade", "head"]

volumes:
  pgdata:

networks:
  default:
    name: expense_tracker_network